html, body, * {
    margin: 0;
    padding: 0;
}

/********** 
 * Banner *
 **********/
#banner{
	overflow: hidden;
}
 
 
#bannerImg{
	object-fit: cover;
    width: 100%;
    max-height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%
}

/******** 
 * Menu *
 ********/
#menu{
	background:lightGray;
	text-align: center;
	height: 34px;
}

.menuElement{
	/*position:relative;*/
	display:inline-block;
/* 	padding: 8px 16px; */
	color:black;
	line-height: 34px;
}

.menuElement a{
	text-decoration: none;
	color:black;
	padding: 8px 16px;
	white-space: nowrap;
}

.menuElement a:hover{
	color: white;
	background-color: #555;
}

/* .menuElement:hover{
	background-color: #555;
    color: white;
} */

.projectLink{
	display: block;
}

/*****************
 * Menu Dropdown *
 *****************/

.dropdown{
	position: relative;
    display: inline-block;
}

.dropdown-content{
	display: none;
    position: absolute;
    background-color: lightGray;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content{
    display: flex;
	flex-direction: column;
}
.dropdown:hover .dropdown-content a {
    padding:0;
}
.dropdown-content a:hover{
	background-color: #555;
}

/***********
 * Content *
 ***********/
 
h3{
	text-align: center;
}

.bodyContent{
	width:960px;
	margin: 0 auto;
}
 
 /**********
 * Projets *
 ***********/
 
.projects{
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
}
 
.projects a{
	text-decoration: none;
	 
}
 
.content{
	width:310px;
	display:flex;
	/*border: 1px solid red;*/
	margin: 10px auto;

}
 
.projectTitleDesc{
	width: 150px;
	margin: 0 auto; 
}
 
.projectImage{
	width: 150px;
	margin: 0 auto;
}

.projectImage img{
	width:140px;
	margin: 0 auto;
	display:block;
	
}

h4{
	text-align:center;

}	
 
 
 